<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746270070183-0cc551gpt77u01ujb8f2uraag353tj2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746270070183-0cc551gpt77u01ujb8f2uraag353tj2k</string>
	<key>API_KEY</key>
	<string>AIzaSyDpALcM6CJ1AtGifkF8hylxsOgiWwzL6TI</string>
	<key>GCM_SENDER_ID</key>
	<string>746270070183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sameh.emroor</string>
	<key>PROJECT_ID</key>
	<string>graduation-project-511f8</string>
	<key>STORAGE_BUCKET</key>
	<string>graduation-project-511f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746270070183:ios:3573ef5aaee5233caa1282</string>
	<key>DATABASE_URL</key>
	<string>https://graduation-project-511f8.firebaseio.com</string>
</dict>
</plist>